html {
  background-color: white;
  font-family: 'Roboto', sans-serif, acme;
  font-size: 1em;
  font: inherit;
  margin: 0; 
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #CCC;
}


body {
  font-family: 'Roboto', sans-serif, acme;
  font-size: 1em;
  text-align: center;
}

main {
  width: 1em;
  height: 12.5em;
  background: #595959;
  float: left; 
}


nav#horz {
  background-color: #808080;
}

nav#horz ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 7px solid black;
}

nav#horz ul li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
		
}

nav#horz ul li a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif, acme;
}

nav#horz ul li a:hover {
  background-color: white;
  color: #000;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 1em;
}
h6{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding-top: .1em;
  padding-bottom: .2em;
}

p {
  font-family: 'Roboto', sans-serif, acme;
  font-size: 1em;
  margin: 1em;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: gold;
}

/* Android Webpage CSS */

#android-header {
  background-color: #808080;	
}

#content {
  margin: 0;
  position: relative;
  background-color:#00BFFF;
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #CCC;
}

#header {
  background-color: #CCC; 
  padding: 15px;
  text-align: center;
}
	
#column1 {
  float: left;
  width: 22.5%;
  margin: 0 0 0 2.5%;
}

#main {
  float: left;
  width: 45%;
  margin: 0 2.5%;
  padding-bottom: 2em;
  background-color: white;
}
	 
#column2 {
  float: left;
  width: 22.5%;
  margin: 0 2.5% 0 0;
}

/* This is the start of the resume page css*/
#column-main {
  float: left;
  width: 30%;
  background-color: white;
}

#main-page-content {
  float: left;
  width: 70%;
}

#footer {
  clear: left; /* starts the footer below the floated content above */
  background-color: #808080;
}

/* start of css for jquery slider */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: 500px;
  float: left;
  width: 100%;
  border: 0;
  }